/* Dashboard.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.dashboard a {
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  transition: color 0.3s ease;
}

.dashboard a:hover {
  color: #007bff;
}

/* Dashboard.css */

.dashboard {
  /* display: flex; */
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.dashboard a {
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  color: #333;
  transition: color 0.3s ease;
  text-decoration: none;
  font-size: 18px;
  /* margin: 0 10px; */
  color: #333;
  transition: color 0.3s ease;
  border: 1px solid #50c6ff;
  padding: 1rem;
  margin: 0.5rem !important;
  width: 80%;
  font-weight: 700;
  /* font-style: oblique; */
  text-transform: capitalize;
}

.dashboard a:hover {
  color: #007bff;
}

.contest-manager {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  .contestAction{
    display: flex;
    justify-content: space-around;
  }
}

.contest-manager form div {
  margin-bottom: 10px;
}

.contest-manager form label {
  display: block;
  font-weight: bold;
}

.contest-manager form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contest-manager form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contest-manager form button:hover {
  background-color: #0056b3;
}

.contest-manager table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.contest-manager table th,
.contest-manager table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.contest-manager table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.contest-manager table td button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contest-manager table td button:hover {
  background-color: #c82333;
}

.payment-manager {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.payment-manager h2 {
  margin-bottom: 20px;
}

.payment-manager table {
  width: 100%;
  border-collapse: collapse;
}

.payment-manager table th,
.payment-manager table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.payment-manager table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.payment-manager table td button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.payment-manager table td button:hover {
  background-color: #218838;
}

/* BalanceList.css */

.balance-list-container {
  margin: 20px;
}

.balance-list-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.balance-table {
  border-collapse: collapse;
  width: 100%;
}

.balance-table th,
.balance-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.balance-table th {
  background-color: #f2f2f2;
}

.balance-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.balance-table tbody tr:hover {
  background-color: #ddd;
}

/* TransactionList.css */

.transaction-list-container {
  margin: 20px;
}

.transaction-list-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.transaction-table {
  border-collapse: collapse;
  width: 100%;
}

.transaction-table th,
.transaction-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.transaction-table th {
  background-color: #f2f2f2;
}

.transaction-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transaction-table tbody tr:hover {
  background-color: #ddd;
}

/* WithdrawalList.css */

.withdrawal-list-container {
  margin: 20px;
}

.withdrawal-list-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.withdrawal-table {
  border-collapse: collapse;
  width: 100%;
}

.withdrawal-table th,
.withdrawal-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.withdrawal-table th {
  background-color: #f2f2f2;
}

.withdrawal-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.withdrawal-table tbody tr:hover {
  background-color: #ddd;
}

/* WithdrawalRequestsTable.css */

.withdrawal-table {
  margin: 20px;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.questions {
  .container {
    font-family: Arial, sans-serif;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .label {
    margin-bottom: 5px;
    display: block;
  }

  .input,
  .select {
    width: calc(100% - 12px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #0056b3;
  }

  .listHeader {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .list {
    list-style-type: none;
    padding: 0;
  }

  .listItem {
    padding: 8px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
  }

  .listItem:hover {
    background-color: #f0f0f0;
  }

}

/* Dashboard.css */

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.content {
  transition: margin-left 0.3s;
}

@media (max-width: 767px) {
  .ant-layout-sider-collapsed .trigger {
    font-size: 18px;
    padding: 0;
  }

  .ant-layout-sider-collapsed .logo {
    margin: 16px 0;
  }

  .ant-layout-sider-collapsed .ant-menu-item {
    padding: 0;
  }

  .ant-layout-sider-collapsed .ant-menu-item-icon {
    margin-left: 8px;
  }
}

@media screen and (max-width:1024px) {
  .content {
    transition: margin-left 0.3s;
    margin: 0 !important;
    padding: 0 !important;
  }

  .ant-layout-sider {
    position: fixed !important;
    z-index: 9999;
    height: 100%;
  }
}

.drawerham {
  z-index: 999999999;
}

// Home.scss

.home-container {
  padding: 24px;
}

.home-tile {
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }

  .ant-card-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ant-table {
  overflow-x: auto;
  white-space: nowrap;

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    min-width: 100px;
  }
}

.contest-manager {
  background: rgb(255, 255, 255); /* Glass background color with transparency */
  backdrop-filter: blur(10px); /* Apply blur effect to the background */
  border-radius: 10px; /* Adjust the border radius as needed */
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1); /* Box shadow for the glass effect */

  form {
    /* Additional styles for the form within the glass container */
    margin-bottom: 20px;
    label {
      color: #0f0707; /* Label text color */
    }
    input {
      background: rgba(255, 255, 255, 0.1); /* Input background color with transparency */
      color: #050303; /* Input text color */
      border: 1px solid #0c0606; /* Input border color */
      border-radius: 5px; /* Input border radius */
      margin-bottom: 10px;
      padding: 8px;
      &:focus {
        outline: none;
        border: 1px solid #00bcd4; /* Adjust the focus border color */
      }
    }
    button {
      background: #00bcd4; /* Button background color */
      color: #fff; /* Button text color */
      border: none;
      border-radius: 5px; /* Button border radius */
      padding: 10px 20px;
      cursor: pointer;
      &:hover {
        background: #009688; /* Adjust the hover background color */
      }
    }
  }

  .ant-table {
    background: rgba(255, 255, 255, 0.1); /* Table background color with transparency */
    border-radius: 10px; /* Table border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1); /* Table box shadow for the glass effect */

    th,
    td {
      color: #140648; /* Table text color */
    }

    .ant-table-content {
      border-radius: 10px; /* Adjust the content border radius */
    }
  }

  .ant-modal {
    background: rgba(255, 255, 255, 0.15); /* Modal background color with transparency */
    backdrop-filter: blur(10px); /* Apply blur effect to the modal background */
    border-radius: 10px; /* Modal border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1); /* Modal box shadow for the glass effect */

    .ant-modal-body {
      padding: 20px;
      color: #fff; /* Modal text color */
    }
  }
}

#multipleQuestionsTextarea{
  width: 100% !important;
  height: 10rem !important;
  border: 2px solid #a1a1a1 !important;
}